<a href="https://colab.research.google.com/github/ciellleen/20240321-/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. $\sqrt{3x-1}+(1+x)^2$

x를 입력받아 루트 (3x -1) + (1+x)^2에 대한 값을 출력하는 코드

import math // math 함수 불러오기

x = float(input("x를 입력하시오: ")) // x 값 입력받기

R = math.sqrt(3*x - 1) + pow(1 + x, 2) // x 값으로 계산하기

print(f"루트(3x-1) + (1+x)^2의 값은 {R:.2f}이다.") // 결과 값 소수점 2번 째 까지 출력하기

In [ ]:
import sympy as sp

# 변수 정의
x = sp.symbols('x')

# 사용자로부터 x 값 입력 받기
x_value = int(input("x 값 입력: "))

# 식 정의
expression = sp.sqrt(3*x - 1) + (1 + x)**2

# x 값 할당하여 계산
result = expression.subs(x, x_value)

# 결과 출력
print("결과:", result)

x 값 입력: 3
결과: 2*sqrt(2) + 16

2.
import time # time 모듈을 import

print("Sleeping") # "Sleeping" 메시지를 출력

time.sleep(30) # 프로그램을 30초 동안 일시적으로 중지

print("Done Sleeping") # "Done Sleeping" 메시지를 출력

In [ ]:
import time
print("Sleeping")
time.sleep(30)
print("Done Sleeping")

3.
!ls /content # /content 디렉토리의 내용을 보여주는 코드

In [ ]:
!ls /content

sample_data

4.
f = open("numbers.txt", "w") # "numbers.txt" 파일을 쓰기 모드로 열기 f.write("10\n20\n30\n40\n50") # 파일에 숫자를 쓰기

with open("numbers.txt", "r") as f: # "numbers.txt" 파일을 읽기 모드로 열기

    for line in f:  # 파일을 한 줄씩 읽어들임

      print(line.strip()) # 각 줄을 출력하고, 줄바꿈 문자을 제거하여 출력
f.close() # 파일 객체 닫기

In [ ]:
f = open("numbers","w")
f.write("10\n20\n30\n40\n50\n60\n70\n80\n90\n100\n")
f = open("numbers","r")
a = f.read()
print(a)
f.close()

10
20
30
40
50
60
70
80
90
100

5.
import pandas as pd // panda 함수를 불러 오는데 pd로 간추려서 불러오기

data = {

'이름' : ['지석', '영수', '민준'],

'나이' : [20, 20, 21],

'성별' : ['남', '남', '남']

} // data에 자료 집어 넣기

df = pd.DataFrame(data) // data 리스트에 pd 실행시키기

print(df) // df 출력하기

In [ ]:
import pandas as pd

data = {
    '이름' : ['철수','영희','길동'],
    '나이' : ['20','21','22'],
    '성별' : ['남','여','남']
}


df = pd.DataFrame(data)
print(df)

   이름  나이 성별
0  철수  20  남
1  영희  21  여
2  길동  22  남

6.
thisdict = {

"brand": "Ford",

"model": "Mustang",
"year": 1964
} // thisdict 라는 dictionay

thisdict.update({"color": "red"}) // thisdict에 color:red 추가

print(thisdict) //thisdict 출력

In [ ]:
thisdict = {
    "brand": "ford",
    "model": "mustang",
    "year" : 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964, 'color': 'red'}

7. python --version # 현재 시스템에 설치된 Python의 버전을 출력하는 명령

In [ ]:
python --version

8.
import numpy as np # numpy 라이브러리를 np라는 별칭으로 import

arr = np.array([1,2,3,4,5]) # 리스트 [1, 2, 3, 4, 5]를 numpy 배열로 변환하여 arr에 저장

print(arr.shape) # 배열 arr의 모양(shape)을 출력

*print(arr.dtype) * # 배열 arr의 데이터 타입(dtype)을 출력

print(arr.ndim) # 배열 arr의 차원 수(ndim)를 출력

arr += 10 # 배열 arr의 각 요소에 10을 더하여 결과를 다시 arr에 할당

print(arr) # 배열 arr을 출력

arr = arr.astype(np.float64) # 배열 arr의 데이터 타입을 float64(64비트 부동소수점)으로 변경

arr /= 2 # 배열 arr의 각 요소를 2로 나누어 결과를 다시 arr에 할당

print(arr) # 배열 arr을 출력

print(np.mean(arr)) # 배열 arr의 평균(mean)을 출력

print(np.std(arr)) # 배열 arr의 표준편차(std)를 출력

print(np.max(arr)) # 배열 arr의 최댓값(maximum)을 출력

In [ ]:
import numpy as np
#1. 배열 생성
arr = np.array([1,2,3,4,5])
#2. 배열 크기 확인
print(arr.shape)
#3. 배열 자료형 확인
print(arr.dtype)
#4. 배열 차원확인
print(arr.ndim)
#5. 배열의 모든 원소에 10을 더하기
arr += 10
print(arr)
#6. 배열의 모든 원소를 2로 나누기
arr =arr.astype(np.float64) #나누기가 부동 소숫점일 수 있어서 이렇게 해 준다. 또는 int64fh
arr /= 2
print(arr)
#7. 배열의 평균 구하기
print(np.mean(arr))
#8. 배열의 표준 편차 구하기
print(np.std(arr))
#9. 배열의 최댓값 구하기
print(np.max(arr))
#10. 배열의 최솟값 구하기
print(np.min(arr))

(5,)
int64
1
[11 12 13 14 15]
[5.5 6.  6.5 7.  7.5]
6.5
0.7071067811865476
7.5
5.5

9.
import numpy # numpy 라이브러리를 import

arr = numpy.array([1, 2, 3, 4, 5]) # numpy 배열 생성

print(arr) # 배열 출력

In [ ]:
import numpy
arr = numpy.array([1, 2, 3, 4, 5])
print(arr)

[1 2 3 4 5]

10.

In [ ]:
import numpy
arr = numpy.array([1, 2, 3, 4, 5])
print(arr[0])

1

11.

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

12.

In [ ]:
a = "Hello"
print(a)

Hello